<div class="sidebar">
	<ul>
		<li id="indent"><a href="#AboutMe">About Me</a></li>
		<li id="indent"><a href="#Experience">Experience</a></li>
		<li id="indent"><a href="#Education">Education</a></li>
	</ul>
</div>

<div class="resume">
	<a name="About Me"></a>
	<h2 id="AboutMe">About Me</h2>
	<p>I am a Computer Science student at UC Berkeley. I love technology and how it is making our lives easier, better, and more fun. I have been programming for 4+ years. I am fascinated by many fields in CS, including Natural Language Processing; Graphics; and HCI.</p>
	
	
	<a name="Experience"></a>
	<h2 id="Experience">Experience</h2>
	<h3>Software Engineering Intern, Apple Inc.</h3>
	<p class="date">May 2012 - August 2012</p>
	<p>
		<ul>
			<li>Worked with various teams within Apple to create and update sample code projects for the iOS developer library.</li>
			<li>Participated in a Cocoa Touch lab fielding iOS related questions from developers.</li>
		</ul>
	</p>
	<h3>Software Engineer, Calhaps</h3>
	<p class="date">September 2012 - </p>
	<p>
		<ul>
			<li>CalHaps is a Django-powered site that organizes the many events that happen around Berkeley, so you always know when and where the next big thing is going to happen. This website has been featured in multiple local periodicals.</li>
			<li>Responsible for the development of the mobile app for iOS platform.</li>
		</ul>
	</p>
	<h3>iOS Developer, Rafael & Rau</h3>
	<p class="date">May 2011</p>
	<p>
		<ul>
			<li>Worked as an iOS developer. With my friend, I wrote three apps that are now live on the Apple App Store, one of which has over 20,000 downloads.</li>
		</ul>
	</p>
	<h3>LifeChain</h3>
	<p class="date">March 2012</p>
	<p>
		<ul>
			<li>While at an AngelHack hackathon, a team of developers and I developed a Django-powered website designed to help find kidney donors to those in need.</li>
			<li>LifeChain came in second place out of 50 competitors.</li>
		</ul>
	</p>
	
	<a name="Education"></a>
	<h2 id="Education">Education</h2>
	<h3>University of California, Berkeley</h3>
	<p class="date">August 2011 - </p>
	<p>Pursuing a Bachelor's degree in Computer Science. Expected to graduate in Spring 2015.</p>
	<h3>La Jolla High School</h3>
	<p class="date">September 2007 - June 2011</p>
	<p>Graduated with Academic Distinction.</p>
	
	<a name="Other"></a>
	<h2 id="Other">Other</h2>
	<p>Proficient in: Python, Java, Objective-C, git, svn</p>
	<p>Experience in: Ruby on Rails, Hadoop</p>
	<p>Applications: Xcode, Eclipse, Autodesk Maya, Vim, Emacs</p>
	
</div>