<%- model_class = Project -%>
<div class="page-header" style="text-align:center;">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="main-wrap">
	<div class="items">
		<div class="itemWrap well" style="padding-top:20px;" >
					<img alt="Mimo" class="itemImages" src="/assets/mimo.png" />
					<span class="itemTitle" style="padding-left: 30px;">Music in Motion</span><br><br>
					I had been competing on a nationally-ranked High School Quizbowl team. Quizbowl, a Jeopardy!-like competition that requires both wit and reflexes, was buzzer based. Much of my team's success was owed to our many practices with real buzzers. However, many teams that we competed with did not have the fortune of a buzzer system and were disadvantaged. I decided to solve that problem by creating an iOS app that leverages Bonjour to create an impromptu quizbowl match.
				</div>
		
		
		
		
		
		
	</div>
</div>