<%- model_class = Project -%>
<div class="page-header" style="text-align:center;">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="main-wrap">
	<div class="items">
		<% @projects.each do |project| %>
		<div class="itemWrap well" style="padding-top:20px;" <% link_to root_path %>>
			<%= image_tag project.image, :class => "itemImages" %>
			<!-- <img class="itemPreview" src= "/assets/images/mimo.png"> -->
			<span class="itemTitle" style="padding-left: 30px;"><%= project.name %></span><br><br>
			<%= project.description %>
		</div>
		<% end %>
	</div>
</div>