<%- model_class = Project -%>
<div class="page-header" style="text-align:center;">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="main-wrap">
	<div class="items">
		<div class="itemWrap well" style="padding-top:20px;" >
					<img alt="Mimo" class="itemImages" src="/assets/mimo.png" />
					<span class="itemTitle" style="padding-left: 30px;">Music in Motion</span><br><br>
					A music playing app that plays music across multiple desktop and mobile devices synchronously. After starting college, I noticed that many people had low-quality laptop speakers and if they could all play music together at the same time, we could have a really cool musical experience. Playing Mozart across four iPhones and three laptops at the same time was really cool and got me really excited for all the future apps I would build.
					<br>This was my very first hackathon project and my first foray into Javascript and Node.js. Let the party begin!
				</div>
	</div>
</div>