<div class="main-wrap hero-unit well">
	<h2>Hi! I'm Varun.</h2>
	<br>
	I am a Computer Science student at UC Berkeley. I love technology and how it is making our lives easier, better, and more fun.
	<br><br>
	I have always loved working with computers, so my initial fascination spawned from raw curiosity. What is going on when my computer is booting up? How is Google search so fast? How does iTunes know I will like a band even if I don't?
	<br><br>
	My adventures in computer science have been aimed to answer these types of questions. As I learn more I have learned to ask myself two questions about everything around me: How does this work? How can I make it better?
</div>
<div class="well main-wrap bottom-bar" style="margin-top:40px;">
	<div style="text-align: center;">
		<%= link_to image_tag("project-work.png", :alt => "Check out some of my work!"), :action => 'index', :controller => 'projects', :class => 'images first-image', :style => 'margin-bottom: 10px;' %>

		<%= link_to image_tag("mail.png", :alt => "Contact me by email."), :action => 'index', :controller => 'projects', :class => 'images' %>

		<%= link_to image_tag("resume.png", :alt => "Grab a copy of my resume!"), :action => 'index', :controller => 'projects', :class => 'images hover-effect' %>
	</div>
</div>

