<style>
  .splash-container {
    width: 50%;
    margin: 0 auto;
  }

  .outer {
    border: 2px solid brown;
    border-radius: 1em;
    background: red;
    font-size: 20pt;
    width: 12em;
    height: 7em;
    text-align: center;
  }

  .nametag {
    color: white;
    font-family: sans-serif;
    padding: 0.5em;
  }

  .name {
    color: black;
    background: white;
    font-family: "Marker Felt", cursive;
    font-size: 45pt;
    padding-top: .4em;
    height: 1em;
  }

</style>

<div class='splash-container'>
  <div class='outer'>
    <div class='nametag'>
      Hi! My name is
    </div>
    <div class='name'>
      Varun Rau
    </div>
  </div>
</div>
