<div>
	<!-- 	 <%= image_tag("varun.jpeg", :alt => "That's me!", :class => "varunimage") %> -->
	Welcome!
	I am a Computer Science student at UC Berkeley. I love technology and how it is making our lives easier, better, and more fun. I have been programming for 4+ years. I am fascinated by many fields in CS, including Natural Language Processing; Graphics; and HCI.
	
</div>