<div class='splash-container'>
    <div class='outer'>
        <div class='nametag'>
            Hi! My name is
        </div>
        <div class='name'>
            Varun Rau
        </div>
    </div>
</div>
