<div class='card'>
  <div class='card-wrapper'>
    <div class='name'>
      Varun Rau
    </div>
    <div class='detail'>
      Second Year Computer Science. UC Berkeley.
      </br>
      Python, Objective-C (iOS), Java, Javascript, Ruby (on Rails)
    </div>
    <a href='/splash/index'>Who Am I?</a>
  </div>
</div>
