<div class="main-wrap hero-unit">
	<h2>Contact</h2>
	<div class="contact">
	<i>In order of preferred contact.</i><br>
		Email: <a href="mailto:varunrau@gmail.com">varunrau@gmail.com</a> <br>
		<span class="_contact-label">Twitter:</span> <a href="http://twitter.com/VarunRau">@VarunRau</a><br>
		<span class="_contact-label">Phone: 1(858) 952-4845</span><br>
	</div>
</div>
