// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-wrap{
	width: 800px;
	min-height: 100%;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
}

.images {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 40px;
	display: block;
	width: 100px;
	height: 100px;
	margin:auto;
	
	&:hover {
		background-color: #4A5050;
	}
}

#temp {
    margin-top: 15%;
    height: 200px;
    padding: 20px 20px 20px 50px;
    float: left;
}

.bottom-bar {
	-webkit-border-radius: 100px;
	width: 400px;
	background-color: #8B8383;
}

.hover-effect {
	-webkit-box-shadow: 3px 3px 5px #000;
}

.big-image {
	text-align: center;
	
	margin-left:auto;
	margin-right:auto;
	display:block;
}

/*.poster {
	-webkit-transform: rotateY(-30deg) translateZ;
}

#ring {
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(180deg);
}*/

#menubar {
	top: 0;
	position: fixed;
	width: 960px;
	z-index: 100;
	box-shadow: 0px 5px 5x #ccc;
	margin: 0 auto;
}

#menubar ul {
	width: 100%;
	float: left;
	margin: 0 0 0em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#menubar li {
	float: left;
}

#menubar li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1pz solid #ccc;
}

#menubar li a:hover {
	color: #c00;
	background-color: #fff;
}

