<!DOCTYPE html>
<html>
  <head>
    <title>Varun Rau</title>
    <script src="https://raw.github.com/mrdoob/three.js/master/build/three.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <style src='https://raw.github.com/chinchang/hint.css/master/hint.min.css'></style>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='background'>
    </div>
    <%= yield %>
  </body>
</html>
